body {
    
    justify-content: center;
    background-image: url(./BackgroundImage1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0; 
    height: 100svh;
}

