
html, body {
    height: 100%;
    margin: 0;
}

body {
    
    justify-content: center;
    background-image: url(./BackgroundImage1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0; 
}

#characterLimit {
display:flex;
justify-content:end;
align-items: end;
background-color: white;
color:gray;
font-size: 14px;
}

ß

.section {
    
    height: 100vh;
    background-color: aqua;
    opacity: 0.8;
   
}
.column textarea {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}


.container {
   
    display: flexbox;
    border: 1px solid #ccc; 
    opacity: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: blue;
}

h1 {
    background-color: cornflowerblue;
    color: honeydew;
    border-style: outset;
    border-radius: 10px;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.label {
    
    background-color: darkcyan;
    text-align: center; 
    color: white;
}

.control {
    text-align: center; 
    color: aliceblue;
}

.field {
    align-items: center;
    text-align: center; 
    color: aliceblue;
    border-style: groove;
    border-color: rgb(165, 165, 165);
    border-radius: 10px;
}
footer {
    

    align-items: center;
    align-content: center;
}

.button {
    justify-content: center;
    text-align: center;
    align-items: center;
}
.meet {
    justify-content: center;
    align-items: center;
    color: darkgrey;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    
    .column {
        width: 100% ;
        font-size: small;
    }

   
}

@media screen and (max-width: 700px) {
   
    .column {
        width: 100% ;
        font-size: medium;

    }

    @media screen and (max-width: 300px) {
       
        .column {
            width: 100% ;
            font-size: larger;
        }