
html, body {
    height: 100%;
    margin: 0;
}

body {
    
    justify-content: center;
    background-image: url(./BackgroundImage1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0; 
    /* height:100svh; */
}

.mainDiv {
    background-color: aqua;
    opacity: 0.9;
    background-size: cover;
    
}

#characterLimit {
    display:flex;
    justify-content:end;
    align-items: end;
    background-color: white;
    color:gray;
    font-size: 14px;
    }

.secondContainer {
    padding: 20px;
}

ß

.section {
    
    height: 100vh;
    background-color: aqua;
    opacity: 0.8;
   
}


.column {

justify-self: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}


.container {
    
    display: flexbox;
    border: 1px solid #ccc; 
    opacity: 1;
    padding: 20px;
    border-radius: 10px;
    background-color: blue;
}

h1 {
    background-color: cornflowerblue;
    color: honeydew;
    border-style: outset;
    border-radius: 10px;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.label {
    
    background-color: darkcyan;
    text-align: center; 
    color: white;
}

#randomAndSaved {
justify-content: center;
align-items: center;

}

#firstColumnButtons {
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;

}
.control {
    justify-content: center;
    align-items: center;
    text-align: center; 
    color: rgb(128, 178, 222);
}

.field {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
    text-align: center; 
    color: aliceblue;
    border-style: groove;
    border-color: rgb(77, 79, 215);
    border-radius: 10px;
}
footer {
    
    align-items: center;
    align-content: center;
}

#outputlangSelector {
    font-size:14px;
}

#meetDev {

    justify-content: center;
    align-items: center;
    text-align: center;
}

.button {
    justify-content: center;
    text-align: center;
    align-items: center;
}

#languageBox,
#translateBtns,
#savePhrasesBtn,
#meetDev {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#viewPhrasesBtn {
    margin-top:20px;
}

.meet {
    color: darkgrey;
    align-items: center;
    font-style: normal;
}

.buttonAndField {

    justify-content: center;
}

#meetDevBtn {
    border: 2px solid green;
}

@media screen and (max-width: 1200px) {
    
    .column {
        width: 100% ;
        font-size: small;
    }

   
}

@media screen and (max-width: 700px) {
   
    .column {
        width: 100% ;
        font-size: medium;

    }
}
    @media screen and (max-width: 300px) {
       
        .column {
            width: 100% ;
            font-size: larger;
        }
    }
